@font-face {
    font-family:'Helvetica';
    src: url(./img/HelveticaNowText-Medium.ttf)
  
  }


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Helvetica";

    text-transform: none;


    box-sizing: border-box;
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;
    color: black;
}

.header {
    padding: 0px 30px;
    /* width: 100%; */
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;
}

.header a img {
    width: 80px;
}

.nav-items {
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 500;
    color: black;

}

.icons1 {
    height: 100%;

    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.icons-items {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-left: 10px;
}

.input input {
    height: 30px;
    width: 150px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(128, 128, 128, 0.1);
    position: relative;
    padding-left: 30px;

}

.input input::placeholder {
    padding-left: 0px;
    font-size: 15px;
}

.search {
    align-items: center;
    padding-left: 5px;
    position: absolute;
    font-size: 20px;
}

#checkbox {
    display: none;
}

.icons {
    font-size: 25px;
    color: black;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;


}

.media-icons {
    display: none;
}

.sidebarx {
    display: none;
}

.offcanvas-body {
    margin-top: 20px;
}

.menubar-items {

    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 5px 5px;
    font-size: 20px;
    font-weight: 700;
}

.right-icon {
    float: right;
}

.jordan {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 30px;
}

.jordan p {
    padding-left: 20px;
}

.menu-p {
    margin-top: 30px;
    line-height: 1.5;
    color: grey;
    margin-left: 10px;
}

.menu-p a {
    color: black;
    text-decoration: none;
}

.menu-buttons {
    display: flex;
    margin-top: 20px;
}

.button-menu a {
    text-decoration: none;
    margin-left: 10px;
    background-color: black;
    padding: 6px 12px;
    font-size: 16px;
    color: white;
    border-radius: 12px;
}

.sign a {
    text-decoration: none;
    margin-left: 10px;
    background-color: white;
    padding: 6px 12px;
    font-size: 16px;
    color: black;
    border-radius: 12px;
    border: 1px solid black;
}

.menu-bottom {
    margin-top: 40px;
}

.bottom-items {
    margin: 0px 0px 10px 10px;
}

.bottom-items a {
    text-decoration: none;
    color: black;
}
.video-container {


    /* background-color:cadetblue; */
    margin: 30px;
}

.video-container video {
    width: 100%;

}
.subhead {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.mainhead {
    margin-top: 10px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.slogan {

    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.btn1 {
    margin-top: 30px;
    text-align: center;
}

.shop {
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

.btn1 a {
    text-decoration: none;
}
.latest {
    margin: 50px 30px 0px 30px;

}

.box-head {
    font-size: 20px;
    font-weight: 500;
}

.latest-container {
    margin-top: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-wrap: grid;
}

.latest-box {

    height: 90vh;
    display: grid;
    grid-template-rows: 80vh 10vh;
    gap: 10px;
}

/* .latest-sbox{
    background-color: green;
} */
.latest-sbox img {
    width: 100%;
    height: 100%;
}

.latest-name {
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    align-items: center;
}
.trending {
    margin: 50px 30px 20px 30px;
    height: 100vh;
  

}

.trend-container {
   height: 92vh;
   display: grid;
   grid-auto-flow: column;
   scroll-behavior: auto;
   gap: 30px;
   overflow-y: auto;
   overscroll-behavior-x: contain;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
}
.trend-container ::-webkit-scrollbar{
    width: 5px;
}
.trend-container ::-webkit-scrollbar-thumb{
   background-color: black;
}
.card1{
   margin-top: 20px;
    scroll-snap-align: start;
  
    min-width: 450px;
}
.card1 .img{
    
    min-height: 70vh;
    background-size: cover;
}
.img img{
    width: 100%;
    height: 100%;
}
.img0{
 
    
    background-image: url("https://img.freepik.com/premium-photo/white-nike-shoe-with-white-logo-bottom_1207067-2788.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img1{ 
    background-image: url("https://img.freepik.com/premium-photo/pair-running-shoes-mountain_1014647-996.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img2{
background-image: url("https://img.freepik.com/premium-photo/person-is-wearing-nike-shoe-with-pink-nike-logo_1207067-2814.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img3{
 
    
    background-image: url("https://img.freepik.com/premium-photo/colorful-shoe-with-nike-logo-it_1068560-10859.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img4{
 
    
    background-image: url("https://img.freepik.com/premium-photo/picture-showcasing-pair-sneakers-rock_869640-596637.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img5{
 
    
    background-image: url("https://img.freepik.com/premium-photo/pair-blue-nike-shoes-with-nike-logo-side_1150321-6170.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img6{
 
    
    background-image: url("https://img.freepik.com/premium-photo/shoes-mock-up_1273586-4965.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.img7{
 
    
    background-image: url("https://img.freepik.com/premium-photo/pair-sneakers-from-brand-new-collection_1207067-2665.jpg?uid=R114668176&ga=GA1.1.1837137669.1726030558&semt=ais_hybrid");
}
.trend-content{
    margin-top: 10px;
    
    min-height: 15vh;
    display: flex;
    flex-direction: column;
}
.trend-name{
    font-size: 20px;
    font-weight: 500;
}
.trend-slogan{
    font-size: 18px;
    color: grey;
}
.trend-price{
    font-size: 18px;
    font-weight: 400;
}
.classic{
    margin: 50px 30px 20px 30px;
    height: 50vh;
    
    /* background-color:  antiquewhite; */
}
.classic-slider{
    margin: 20px 0px;
    /* background-color:  greenyellow; */
    height: 35vh;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 20px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory ;
    scrollbar-width: none;
    
}
.classic-box{
    
    scroll-snap-align: start;
  
    min-width: 250px;   
    background-color:rgba(246,246,246,255);
    display: grid;
    grid-template-rows: 30vh 5vh;
}
.classic-img{
    border: 2px solid white;
}
.classic-img0{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/2a748438-2634-454a-b137-431f99e4db1a/NIKE+CORTEZ+TXT.png");
    background-size: cover;
}
.classic-img1{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/202d540b-5aa9-4d60-9c9a-86475b81d34d/KILLSHOT+2+LEATHER.png");
    background-size: cover;
}
.classic-img2{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5351ec85-027b-4421-a45c-3f47dfac60a9/PEGASUS+PLUS.png");
    background-size: cover;
}
.classic-img3{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/abe4d35e-6f85-41ca-8b98-b8159c2a2def/W+NIKE+ZOOM+VOMERO+5.png");
    background-size: cover;
}
.classic-img4{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5c2e795f-1b81-4203-82d2-663031b713e8/W+NIKE+V2K+RUN+GTX.png");
    background-size: cover;
}
.classic-img5{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/87e1a107-173c-4c79-b111-7e3f4b03504e/NIKE+ZOOMX+VAPORFLY+NEXT%25+3.png");
    background-size: cover;
}
.classic-img6{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/0f76f73e-2578-4d62-abab-c5563ea4f78c/NIKE+DUNK+LOW+RETRO.png");
    background-size: cover;
}
.classic-img7{
    background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/685dd173-195c-4b28-aaf9-c91fd61dfd4c/WMNS+AIR+FORCE+1+%2707+ESS.png");
    background-size: cover;
}
.classic-name{
font-size: 25px;
font-weight: 800;
text-align: center;
margin-bottom: 15px;

}
.miss{
    margin: 50px 30px 20px 30px;
    height: 100vh;
    
}
.miss-img{
    margin-top: 20px;
    height: 90vh;
  
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.miss-img .imgm1{
    width: 100%;
    height: 100%;
  
    background-image: url("./img/nike-just-do-it1.jpeg");
    background-size: cover;
}
.miss-img .imgm2{
    width: 100%;
    height: 100%;
 
    background-image: url("./img/nike-just-do-it2.jpeg");
    background-size: cover;
}
.sport {
    margin: 50px 30px 20px 30px;
    height: 100vh;
  

}

.sport-container {
    /* border: 2px solid black; */
   height: 50vh;
   display: grid;
   grid-auto-flow: column;
   scroll-behavior: auto;
   gap: 20px;
   overflow-y: auto;
   overscroll-behavior-x: contain;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
}
.card2{
   margin-top: 20px;
    scroll-snap-align: start;
  
    min-width:450px;
    position: relative;
}
.card2 .spImg{
    
    min-height: 40vh;
    background-size: cover;
}
.img img{
    width: 100%;
    height: 100%;
}

.btn2 {
    margin-top: 30px;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 7%;
    z-index: 1;
}

.sp-btn {
    font-size: 15px;
    text-align: center;
    background-color: rgb(128, 128, 128,0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
   
}

.btn2 a {
    text-decoration: none;
}
.sp-img0{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/a3c971bc-bc0a-4c0c-8bdf-e807a3027e53/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img1{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/e4695209-3f23-4a05-a9f9-d0edde31b653/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img2{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/38ed4b8e-9cfc-4e66-9ddd-02a52314eed9/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img3{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/e36a4a2b-4d3f-4d1c-bc75-d6057b7cec87/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img4{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/7ce96f81-bf80-45b9-918e-f2534f14015d/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img5{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/6be55ac6-0243-42d6-87d0-a650074c658c/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img6{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/608705dc-dea5-4450-b68f-e624cf1ed2a7/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.sp-img7{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_600,c_limit/c779e4f6-7d91-46c3-9282-39155e0819e5/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.member {
    margin: -250px 30px 20px 30px;
    height: 100vh;
  

}

.member-container {
    /* border: 2px solid black; */
   height: 75vh;
   display: grid;
   grid-auto-flow: column;
   scroll-behavior: auto;
   gap: 20px;
   overflow-y: auto;
   overscroll-behavior-x: contain;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
}
.card3{
   margin-top: 20px;
    scroll-snap-align: start;
  
    min-width:450px;
    position: relative;
}
.card3 .mbImg{
    
    min-height: 70vh;
    background-size: cover;
}
.mbInside{
    /* background-color: yellow; */
    /* height: 25vh; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
    position: absolute;
    bottom: 8%;
}
.img img{
    width: 100%;
    height: 100%;
}
.text1{
    font-size: 15px;
    color: white;
}
.text2{
    font-size: 18px; 
    color: white;
}

.btn3 {
    margin-top: 20px;
    
}

.mb-btn {
    font-size: 15px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
  
}

.btn3 a {
    text-decoration: none;
}
.mb-img0{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_750,c_limit/cb28c551-b85b-479f-8fc3-40ad4e7c9ca4/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.mb-img1{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_750,c_limit/100ca749-1a94-4f98-bc43-a58e7e9cdbcf/nike-just-do-it.png");
    background-size: cover;
    background-position: center;
}
.mb-img2{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_750,c_limit/39412611-0af5-4770-8c2e-ef5c23bc6a3d/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.mb-img3{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_750,c_limit/a9767bce-db10-41ff-9eb5-f5daf8bbb3e6/nike-just-do-it.png");
    background-size: cover;
    background-position: center;
}
.mb-img4{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_750,c_limit/37b262a3-c8c7-49e8-a29f-8d46bc8ab950/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}
.mb-img5{
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_750,c_limit/c17ae904-9307-4575-8ac1-ad08adafe17f/nike-just-do-it.jpg");
    background-size: cover;
    background-position: center;
}




@media (max-width:833px) {

    .header {
        padding: 0px 30px;
        /* width: 100%; */
        height: 60px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-wrap: wrap;
        position: relative;
    }

    /* .logo {
        
        font-size: 25px;
        font-weight: 600;
       
    } */
    .icons {
        display: flex;
    }

    .icons1 {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 70px;
        z-index: 2;
        background-color: white;
        width: 100%;
        height: 160px;
        display: none;


    }

    .navbar a {
        display: block;
        margin-bottom: 20px;
    }

    #close-icon {
        display: none;
    }

    #checkbox:checked~.icons #menu-icon {
        display: none;
    }

    #checkbox:checked~.icons #close-icon {
        display: block;
    }

    /* #checkbox:checked~.navbar {
        display: block;
    } */
    #checkbox:checked~.sidebarx {
        height: 700px;
        width: 60%;
        background-color: white;
        position: absolute;
        display: block;
        top: 60px;
        right: 0px;

    }

    .media-search {
        margin-left: -50px;
    }

    .media-icons {
        padding-right: 25px;
        display: flex;
        position: absolute;
        right: 40px;
    }

    #media-user {
        margin-left: -2px;
    }

    .icons-items {
        text-align: center;
        font-size: 25px;
        color: black;
        margin-left: 10px;
    }

    .sidebarx {
        display: none;
    }
    .video-container {


        /* background-color:cadetblue; */
        margin: 30px;
    }

    .video-container video {
        width: 100%;

        background-size: cover;
    }

    .subhead {
        margin-left: 30px;
        font-size: 16px;
        font-weight: 600;
        text-align: start;
    }

    .mainhead {
        margin-left: 30px;
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
        text-align: start;
    }

    .slogan {
        margin: 10px 30px;


        font-size: 15px;
        font-weight: 400;
        text-align: start;
    }

    .btn1 {
        margin: 10px 30px;
        margin-top: 20px;
        text-align: start;
    }

    .latest-container {
        margin-top: 20px;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .latest-box {

        height: 60vh;
        display: grid;
        grid-template-rows: 50vh 10vh;
        gap: 10px;
    }
    .trending {
        margin: 750px 30px 20px 30px;
        height: 100vh;
      
    
    }
    .card1{
        margin-top: 10px;
   
        scroll-snap-align: start;
      
        min-width: 330px;
    }
    .miss{
        margin: 50px 30px -350px 30px;
        height: 100vh;
        
    }
    .miss-img{
        margin-top: 20px;
        height: 100vh;
      
        display: grid;
        grid-template-columns: repeat(auto);
    }
    .miss-img .imgm1{
        width: 200%;
        height: 50%;
      
        background-image: url("./img/nike-just-do-it1.jpeg");
        background-size: cover;
    }
    .miss-img .imgm2{
        width: 100%;
        height: 100%;
     
        background-image: url("./img/nike-just-do-it2.jpeg");
        background-size: cover;
        display: none;
    }
    .sport {
        margin: 50px 30px 20px 30px;
        height: 100vh;
      
    
    }
    
 
    .card2{
       margin-top: 20px;
        scroll-snap-align: start;
      
        min-width:250px;
        position: relative;
    }
    .member-container {
        /* border: 2px solid black; */
       height: 55vh;
       display: grid;
       grid-auto-flow: column;
       scroll-behavior: auto;
       gap: 20px;
       overflow-y: auto;
       overscroll-behavior-x: contain;
       scroll-snap-type: x mandatory;
       scrollbar-width: none;
    }
    .card3{
        margin-top: 20px;
         scroll-snap-align: start;
       
         min-width:250px;
         position: relative;
     }
     .card3 .mbImg{
    
        min-height: 50vh;
        background-size: cover;
    }
   
}





